<a href="https://colab.research.google.com/github/Ankyd4011/basic-Python-Assignment-/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python : Assignment 1**

 Q1 (i) adding elements

In [ ]:
L = [11,12,13,14]

In [ ]:
print("original list : ",L)

original list :  [11, 12, 13, 14]

In [ ]:
L.append(60)
L.append(50)

In [ ]:
print("after adding numbers :" ,L)

after adding numbers : [11, 12, 13, 14, 60, 50]

(ii) removing elements

In [ ]:
L.remove(11)
L.remove(13)

In [ ]:
print("list after removing 11 & 13 : ",L)

list after removing 11 & 13 :  [12, 14, 60, 50]

(iii) list in Ascending Order

In [ ]:
L.sort() 
print("asc. ordered list : " ,L)

asc. ordered list :  [12, 14, 50, 60]

(iv)

In [ ]:
L.sort(reverse =True)
print("desc. ordered list : ",L)

desc. ordered list :  [60, 50, 14, 12]

(v)

In [ ]:
L.index(13) #since 13 is not in list it will show an error
print(L)

ValueError: ignored

(vi)

In [ ]:
a=len(L)
print(a)

4

(vii)

In [ ]:
x=sum(L)
print(x)

136

(viii)

In [ ]:
for num in L:
   if num % 2 != 0:
      print(num, end = " ")
      b=sum(L)
print(b)

136

(ix)

(x)

(xi)

In [ ]:
L.clear()
print(L)

[]

(xii)

In [ ]:
del(L)
print(L)

NameError: ignored

Q2 1.

In [ ]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}

In [ ]:
D[8]=8.8
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
del D[2]
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
if 6 in D :
  print("6 exists")
else: 
  print("dosen't exists")

dosen't exists

In [ ]:
len(D)

5

In [ ]:
sum(D.values())

37.4

In [ ]:
D[3]=7.1
print(D)

{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
D.clear()
print(D)

{}

Q3

In [ ]:
s1=[10,20,30,40,50,60]
s2=[40,50,60,70,80,90]

In [ ]:
s1.append(55)
s1.append(66)
print(s1)

[10, 20, 30, 40, 50, 60, 55, 66]

In [ ]:
s1.remove(10)
s1.remove(30)
print(s1)

[20, 40, 50, 60, 55, 66]

In [ ]:
if 40 in s1:
  print("exists")
else:
  print("don't found")

exists

In [ ]:
s=s1+s2
print(s)

[20, 40, 50, 60, 55, 66, 40, 50, 60, 70, 80, 90]

In [ ]:
c= s1 and s2
print(c)

[40, 50, 60, 70, 80, 90]

In [ ]:
result=[]
for i, j in zip(s1,s2):
 
    result.append(i - j)
 
print(result)

[-20, -10, -10, -10, -25, -24]

In [ ]:
import random as r
import string as s
for N in range(1,101):
  print(''.join(r.choices(s.ascii_lowercase,k= r.randint(6,8))))

imupxhww
dnrwuzdh
kvbubql
fmbwet
ahbygz
oupdnm
xbinffx
zcwjitsm
xmliimo
lgwideb
qsnjsza
wouduy
firwol
ynumqdhk
salbll
xzipdz
voxjplzs
gfgczmm
lzyznuaj
fucgnwsu
drzyjmyj
urcmex
mhycnl
wieeiz
vqdrahw
seeuzbob
oxlbigoh
nrmpdyv
lizeml
foucqzcw
geijrb
qjiuzj
efztsw
aqzhbkc
lwgzkhid
fjuxhi
tvgtdpct
vxhvtte
zzzlub
gqsvjcb
xkeril
rgczre
rhoogna
rcpqcw
xxaacdxq
nlcdjpwg
jmqyxquj
asbovf
hbtbcppv
gpvqgqk
dotnpx
qglpqwx
onvaadtl
btftuhev
qmjdkhi
xabnub
bncuaywd
qscstls
kkvbpm
zsmjjhog
yzqhbty
kmftmvnq
kdlejq
bhhrdu
fdflktlu
eyjaow
fedpphjj
utbicqf
edzbfmj
eojcpgh
ozqhuyle
jbvtovi
vgqayp
vtxtiig
wubyizf
vpnbzrkp
tglofn
ktrrztdh
pcewzpi
jzdybel
lpinks
wsvroc
ohfeowh
gxkqbuln
ymazbbm
qklfpje
nouzjdw
qgthvivh
zmdsgza
ogodtcqh
lcmxmal
vgjhyjak
nmxiop
wxdnvn
gqmpyo
gvqpklw
upojmotw
exvueiop
umpnxg
zybllezz

In [ ]:
for n in range (600,801):
  if n > 1:
       for i in range(2, n):
           if (n % i) == 0:
               break
       else:
           print(n)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

In [ ]:
for n in range (100,1001):
  if n%7==0 or n%10==0:
    print(n)

100
105
110
112
119
120
126
130
133
140
147
150
154
160
161
168
170
175
180
182
189
190
196
200
203
210
217
220
224
230
231
238
240
245
250
252
259
260
266
270
273
280
287
290
294
300
301
308
310
315
320
322
329
330
336
340
343
350
357
360
364
370
371
378
380
385
390
392
399
400
406
410
413
420
427
430
434
440
441
448
450
455
460
462
469
470
476
480
483
490
497
500
504
510
511
518
520
525
530
532
539
540
546
550
553
560
567
570
574
580
581
588
590
595
600
602
609
610
616
620
623
630
637
640
644
650
651
658
660
665
670
672
679
680
686
690
693
700
707
710
714
720
721
728
730
735
740
742
749
750
756
760
763
770
777
780
784
790
791
798
800
805
810
812
819
820
826
830
833
840
847
850
854
860
861
868
870
875
880
882
889
890
896
900
903
910
917
920
924
930
931
938
940
945
950
952
959
960
966
970
973
980
987
990
994
1000

In [ ]:
import random
lis1 = []
for _ in range(10):
    lis1.append(random.randint(10,30))
print(lis1)
lis2 = []
for _ in range(10):
    lis2.append(random.randint(10,30))
print(lis2)

[11, 20, 23, 17, 17, 26, 30, 25, 22, 14]
[10, 27, 11, 21, 25, 30, 20, 12, 19, 12]

In [ ]:
def intersection(list1,list2):
  list3=[value for value in list1 if value in list2]
  return list3

print(intersection(lis1,lis2))

[11, 20, 30, 25]

In [ ]:
c = lis1+lis2
print(c)

[11, 20, 23, 17, 17, 26, 30, 25, 22, 14, 10, 27, 11, 21, 25, 30, 20, 12, 19, 12]

In [ ]:
list(set(lis1).symmetric_difference(set(lis2)))

[10, 12, 14, 17, 19, 21, 22, 23, 26, 27]

In [ ]:
maximum = max(lis1+lis2)
minimum = min(lis1+lis2)
print("max :",maximum)
print("min :",minimum)

max : 30
min : 10

In [ ]:
res_list = []
for i in range(0, len(lis1)):
    res_list.append(lis1[i] + lis2[i])
    
print(res_list)

[21, 47, 34, 38, 42, 56, 50, 37, 41, 26]

In [ ]:
import random as r
num=[]
for i in range(100):
   num.append(random.randint(100,900))
   
print(num,sep="   ")

[564, 115, 721, 247, 601, 224, 839, 616, 684, 318, 169, 895, 882, 526, 439, 556, 539, 337, 564, 110, 847, 171, 343, 549, 612, 664, 449, 890, 771, 455, 497, 225, 326, 807, 649, 817, 465, 233, 516, 465, 588, 838, 684, 468, 133, 471, 549, 558, 741, 213, 723, 777, 758, 467, 175, 389, 676, 478, 609, 558, 684, 406, 693, 501, 624, 780, 571, 550, 331, 249, 750, 895, 691, 350, 600, 129, 436, 313, 404, 537, 876, 451, 815, 882, 504, 419, 489, 650, 693, 470, 549, 211, 259, 112, 772, 664, 717, 307, 576, 874]

In [ ]:
for x in num:
  if x%2 !=0:
    print(x,end=" ")

115 721 247 601 839 169 895 439 539 337 847 171 343 549 449 771 455 497 225 807 649 817 465 233 465 133 471 549 741 213 723 777 467 175 389 609 693 501 571 331 249 895 691 129 313 537 451 815 419 489 693 549 211 259 717 307

In [ ]:
for y in num:
  if y%2 ==0:
    print(y,end=" ")

564 224 616 684 318 882 526 556 564 110 612 664 890 326 516 588 838 684 468 558 758 676 478 558 684 406 624 780 550 750 350 600 436 404 876 882 504 650 470 112 772 664 576 874

In [ ]:
prime=[]
for i in num:
  c=0
  for j in range(1,i):
    if i%j==0:
      c+=1
  if c == 1:
    prime.append(i)
print(prime)

[601, 839, 439, 337, 449, 233, 467, 389, 571, 331, 691, 313, 419, 211, 307]

In [ ]:
D={1:"One",2:"two",3:"three",4:"four",5:"five"}

In [ ]:
for i in D :
   print( i, "-",D[i], sep = " ")

1 - One
2 - two
3 - three
4 - four
5 - five

In [ ]:
f = open("myfile.txt", "w")

In [ ]:
import pickle

# Read dictionary pkl file
with open('myfile.txt', 'w') as fp:
    person = pickle.load(fp)
    print('Person dictionary')
    print(person)

UnsupportedOperation: ignored

In [ ]:
myfile.write(str(D))
myfile.close()
myFile = open('sample.txt', 'r')
print("The content of the file after saving the dictionary is:")
print(myfile.read())

NameError: ignored

In [42]:
L={"one","two","three","four","five"}

In [43]:
for i in L: 
  print(len(L.keys(i)))

AttributeError: ignored

In [48]:
import string as s
import random as r
S= 10
ran="".join(r.choices(s.ascii_letters(),k=S))

TypeError: ignored